<?php
/**
 * @copyright Copyright © 2023 BeastBytes - All rights reserved
 * @license BSD 3-Clause
 */

declare(strict_types=1);

// Rename this file to apiKey.php and replace '<API KEY>' with your API key

return '<API KEY>';
